@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap"); /*구글 폰트 가져오기*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; /* 테두리 기준으로 크기 설정 */
}
body  {
    background-color: #e2faff; /* 전체 배경 색 */
}
section {
    width: 350px;
    padding: 30px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
/* 배경 및 프로필 박스 생성*/
body  {
    background-color: #e2faff; /* 전체 배경 색 */
}
section {
    width: 350px;
    padding: 30px;
    background-color: #fff;
    margin: 50px auto; /*가운데 정렬*/
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1); /*그림자*/
    border-radius: 10px ;
}
/*프로필 박스 상단 버튼 만들기*/
section nav.menu {
    width: 100%;        /*가로폭 100% : section의 100%*/
}
section nav.menu::after {
    content : "";       /*내용 없음*/
    display : block;    /*블록 요소로 변경*/
    clear: both;        /*float 속성 해제*/
}
section nav.menu a {
    font-size: 20px;
    color: #777;
}
section nav.menu a:nth-of-type(1){  /*가상 클래스 1변째 a요소*/
    float: left;        /*왼쪽 정렬*/
}
section nav.menu a:nth-of-type(2){  /*가상 클래스 1변째 a요소*/
    float: right;        /*오른쪽 정렬*/
}
/*프로필 영역 설정 */
section .profile{
    width: 100%;        /*가로폭 100% : section의 100%*/
    text-align: center; /* 가운데 정렬*/
}

section article.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%; /*원형으로 만들기*/
    margin-bottom: 20px; /*아래쪽 여백 20px*/
    
}
section article.profile h1{
    font-weight: bold;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ; /* 글꼴설정 */
    color: #777;
    margin-bottom: 20px;
}
section article.profile h2{
    font-weight: normal;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif ; /* 글꼴설정 */
    color: #777;
    margin-bottom: 20px;
}
section a.btnView{
    display: block;
    width: 150px;
    height: 40;
    margin: 0 auto 20px; /*가운데 정렬, 아래쪽 여백 20px*/
    background-color: #444;
    border-radius: 15px;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(45deg, #7cffff, #33e7ff);/*그라데이션*/
    box-shadow : 5px 10px 20px rgba(0, 0, 0, 0.1) 
}

/* 연락처 목록 설정 */
section ul.contact{
    margin-bottom: 25px;
}
section ul.contact li{
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}
section ul.contact li:last-child{
    border-bottom: none;
}
section ul.contact li i{
    width: 20%;
    text-align: center;
    color: #555;
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
section ul.contact li span{
    font-weight : normal;
    font-size: 15px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}
/*멤버별 링크 설정*/
section nav.others {
	width: 100%; /* 가로폭 100% */
	text-align: center; /* 가운데 정렬 */
 }
section nav.others a{
    display: inline-block;  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    opacity: 0.5;
    filter: saturate(0.7);
}
section nav.others a.on{
    opacity: 1;
    filter: saturate(1);
}
section nav.others a:nth-of-type(1){
    background-color: #33e7ff;
    box-shadow: 5px 5px 10px rgba(37, 253, 253, 0.7);
}
section nav.others a:nth-of-type(2){
    background-color: rgb(131, 255, 127);
    box-shadow: 5px 5px 10px rgba(74, 255, 113, 0.7);
}
section nav.others a:nth-of-type(3){
    background-color: #ff95e8;
    box-shadow: 5px 5px 10px rgba(255, 74, 186, 0.7);
}
section nav.others a:nth-of-type(4){
    background-color: #dc6aff;
    box-shadow: 5px 5px 10px rgba(174, 74, 255, 0.7);
}
/*멤버별 프로필 화면 설정(완성)*/
/* member1 */
body.member1{
    background-color: #abdeff;
}
body.member1 section article.profile img {
	box-shadow: 5px 15px 20px #bdccb783; 
}
body.member1 section a.btnView {
	background: linear-gradient(45deg, #b9fffb, #2cd4da);   
    box-shadow: 5px 10px 20px rgba(37, 253, 253, 0.7);
}
/* member2 */
body.member2 {
	background-color: rgb(208, 255, 207);
}
body.member2 section article.profile img {
	box-shadow: 5px 15px 20px #bdccb783; 
}
body.member2 section a.btnView {
	background: linear-gradient(45deg, #a0ff9d, #55f5b2);   
    box-shadow: 5px 10px 20px rgba(74, 255, 113, 0.7);
}
/* member3 */
body.member3 {
	background-color: #ffc4f2;
}
body.member3 section article.profile img {
	box-shadow: 5px 15px 20px #bdccb783; 
}
body.member3 section a.btnView {
	background: linear-gradient(45deg, #ffacf1, #ff75b5);   
    box-shadow: 5px 10px 20px rgba(255, 74, 186, 0.7);
}
/* member4 */
body.member4 {
	background-color: #eeb8ff;
}
body.member4 section article.profile img {
	box-shadow: 5px 15px 20px #bdccb783; 
}
body.member4 section a.btnView {
	background: linear-gradient(45deg, #f0a5ff, #da55f5);   
    box-shadow: 5px 10px 20px rgba(174, 74, 255, 0.7);
}